<!-- Conteneur principal -->
<div class="header-container" data-aos="fade-up">
  <!-- Fond d'en-tête -->
  <div class="header-bg"></div>

  <!-- Texte de l'en-tête -->
  <div class="header-text">
    <!-- Titre principal -->
    <h1 class="display-2 mb-0" data-aos="fade-down" data-aos-duration="1500">AGENCE CASA - <span class="blue-text">ARCHITECTES</span></h1>

    <!-- Sous-titre -->
    <h2 class="display-4" data-aos="fade-up" data-aos-duration="2000">UNE ÉQUIPE DE SPÉCIALISTES</h2>
  </div>

  <!-- Image de l'en-tête -->
  <div class="header-image"></div>

  <!-- Effet de parallaxe sur l'image -->
  <div class="parallax" data-parallax="scroll" data-image-src="/assets/images/accueil-min.jpg"></div>
</div>
