<!-- Section : Invitation à rejoindre l'équipe -->
<section class="work-with-us-container">
  <!-- Bloc contenant le texte, animé avec un effet de fondu vers la gauche -->
  <div data-aos="fade-left">
    <!-- Titre principal de la section -->
    <h1 class="global-title" class="title-presentation">Rejoignez notre équipe d'architectes<span class="colored-word">
        innovants</span>!</h1>
    <!-- Conteneur englobant les avantages de travailler avec l'équipe -->
    <div class="advantage-wrapper">
      <!-- Liste des avantages présentés sous forme de blocs -->
      <div class="advantages">
        <!-- Bloc d'avantage : Projets passionnants et innovants -->
        <div class="advantage">
          <span class="bi bi-lightbulb-fill"></span>
          <p class="lead-texte">Travaillez sur des projets passionnants et innovants</p>
        </div>
        <!-- Bloc d'avantage : Environnement collaboratif et stimulant -->
        <div class="advantage">
          <span class="bi bi-people-fill"></span>
          <p class="lead-texte">Profitez d'un environnement collaboratif et stimulant</p>
        </div>
        <!-- Bloc d'avantage : Développement des compétences et de la carrière -->
        <div class="advantage">
          <span class="bi bi-graph-up"></span>
          <p class="lead-texte">Développez vos compétences et votre carrière</p>
        </div>
      </div>
    </div>
    <!-- Section incitant à postuler avec une brève instruction et un bouton d'action -->
    <div class="apply-section">
      <p class="apply-text lead-texte">Envoyez-nous votre CV et rejoignez-nous dès maintenant!</p>
      <!-- Bouton d'action pour postuler -->
      <button class="apply-btn">Postulez maintenant</button>
    </div>
  </div>
  <!-- Conteneur pour l'image avec un effet de fondu vers la droite -->
  <figure class="image-container" data-aos="fade-right">
    <!-- Image illustrant l'équipe d'architectes -->
    <img src="assets/images/office2.jpg" alt="Notre équipe d'architectes" />
  </figure>
</section>
