<section class="work-with-us-container">
  <div data-aos="fade-left">
    <h1 class="global-title" class="title-presentation">Rejoignez notre équipe d'architectes<span class="colored-word">
        innovants</span>!</h1>
    <div class="advantage-wrapper">
      <div class="advantages">
        <div class="advantage">
          <span class="bi bi-lightbulb-fill"></span>
          <p class="lead-texte">Travaillez sur des projets passionnants et innovants</p>
        </div>
        <div class="advantage">
          <span class="bi bi-people-fill"></span>
          <p class="lead-texte">Profitez d'un environnement collaboratif et stimulant</p>
        </div>
        <div class="advantage">
          <span class="bi bi-graph-up"></span>
          <p class="lead-texte">Développez vos compétences et votre carrière</p>
        </div>
      </div>
    </div>
    <div class="apply-section">
    <p class="apply-text lead-texte">Envoyez-nous votre CV et rejoignez-nous dès maintenant!</p>
    <button class="apply-btn">Postulez maintenant</button>
  </div>
  </div>
  <figure class="image-container" data-aos="fade-right">
    <img src="assets/images/office2.jpg" alt="Notre équipe d'architectes" />
  </figure>
</section>