<!-- Conteneur principal pour la section "Démarche" -->
<div class="container container-demarche" id="demarche-id"  data-aos="fade-right">
  <!-- Conteneur pour le titre de la section -->
  <div class="process-title">
    <!-- Titre de la section -->
    <h1 class="global-title" class="title-presentation">Nos <span class="colored-word"> Démarches </span></h1>
  </div>

  <!-- Conteneur pour les items de processus -->
  <div class="process-items">
    <!-- Composant Angular "Process Item", qui affiche les différentes étapes du processus -->
    <app-process-item></app-process-item>
  </div>
</div>
