<section class="container container-team" id="team-id">
  <h1 class="global-title" class="title-presentation">NOTRE<span class="colored-word"> ÉQUIPE</span></h1>
  <h2 class="team-subtitle">Rencontrez les talents qui donnent vie à vos projets et faites confiance à l’expertise de nos architectes </h2>

  <!-- Ajouter les icônes et le texte des avantages ici -->
  <div class="advantage-wrapper">
    <div class="advantages">
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-calendar-check"></i>
        <p class="lead-texte">+10 ans d’expérience</p>
      </div>
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-eye"></i>
        <p class="lead-texte">Suivi transparent et complet</p>
      </div>
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-lightbulb"></i>
        <p class="lead-texte">Conseils avisés et sur mesure</p>
      </div>
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-pencil"></i>
        <p class="lead-texte">Un sens du design unique</p>
      </div>
    </div>
  </div>

  <div class="gallery-wrapper">
    <div class="gallery-item">
      <img alt="teams" class="item-image" src="assets/images/team1.jpg"/>
      <div class="item-description">
        <h2 class="name">Jack Doe</h2>
        <span class="role">Architecte</span>
      </div>
    </div>
    <div class="gallery-item">
      <img alt="teams" class="item-image" src="assets/images/team3.jpg"/>
      <div class="item-description">
        <h2 class="name">Laura pila</h2>
        <span class="role">Architecte</span>
      </div>
    </div>
    <div class="gallery-item">
      <img alt="teams" class="item-image" src="assets/images/team2.jpg"/>
      <div class="item-description">
        <h2 class="name">Ahmed Bah</h2>
        <span class="role">Architecte</span>
      </div>
    </div>
  </div>

</section>
