<!-- Section contenant les informations sur l'équipe -->
<section class="container container-team" id="team-id">

  <!-- Titre de la section -->
  <h1 class="global-title" class="title-presentation">NOTRE<span class="colored-word"> ÉQUIPE</span></h1>

  <!-- Sous-titre de la section -->
  <h2 class="team-subtitle">Rencontrez les talents qui donnent vie à vos projets et faites confiance à l’expertise de nos architectes </h2>

  <!-- Wrapper contenant les avantages de travailler avec l'équipe -->
  <div class="advantage-wrapper">

    <!-- Avantages présentés sous forme d'icônes et de textes -->
    <div class="advantages">

      <!-- Avantage: Plus de 10 ans d'expérience -->
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-calendar-check"></i>
        <p class="lead-texte">+10 ans d’expérience</p>
      </div>

      <!-- Avantage: Suivi transparent et complet -->
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-eye"></i>
        <p class="lead-texte">Suivi transparent et complet</p>
      </div>

      <!-- Avantage: Conseils avisés et sur mesure -->
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-lightbulb"></i>
        <p class="lead-texte">Conseils avisés et sur mesure</p>
      </div>

      <!-- Avantage: Un sens du design unique -->
      <div class="advantage">
        <i aria-hidden="true" class="bi bi-pencil"></i>
        <p class="lead-texte">Un sens du design unique</p>
      </div>

    </div>
  </div>

  <!-- Galerie des membres de l'équipe -->
  <div class="gallery-wrapper">

    <div class="gallery-item">
      <img alt="teams" class="item-image" src="assets/images/team1.jpg"/>
      <div class="item-description">
        <h2 class="name">Jack Doe</h2>
        <span class="role">Architecte</span>
      </div>
    </div>

    <div class="gallery-item">
      <img alt="teams" class="item-image" src="assets/images/team3.jpg"/>
      <div class="item-description">
        <h2 class="name">Laura Pila</h2>
        <span class="role">Architecte</span>
      </div>
    </div>

    <div class="gallery-item">
      <img alt="teams" class="item-image" src="assets/images/team2.jpg"/>
      <div class="item-description">
        <h2 class="name">Ahmed Bah</h2>
        <span class="role">Architecte</span>
      </div>
    </div>

  </div>

</section>
